/*menu hamburguer*/
@media (max-width: 1061px) {
    #btn-mobile {
       display: block;
    }
 
    #menu {
       display: block;
       position: absolute;
       width: 100%;
       top:70px;
       left: 0px;
       background-color:#002D64;
       border-radius: 0px  20px 0px 0px;
       height: 0px;
       transition: .6s;
       z-index: 1000;
       visibility: hidden;
       overflow-y: hidden;
       
    }
 
    #nav.active #menu{
       height: 100vh;
       visibility: visible;
       overflow-y: auto;
       
       
    }
    header ul li {
       margin-left: 20px;
       font-weight: 500;
       margin-top: 30px;
       padding-bottom: 30px;
       width: 90%;
       border-bottom: 2px solid rgba(245, 245, 245, 0.05) ;
   }
 
   #btn-mobile{
    display: flex;
    color: white;
    align-items: center;
    padding:  .5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color:transparent;
    cursor: pointer;
    gap: .5rem;
   }
 
   #hamburguer {
    border-top: 2px solid;
    width: 20px;
   }
 
   #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
    
    
   }
 
   #nav.active #hamburguer {
    border-top-color: transparent;
   }
 
   #nav.active #hamburguer::before{
    transform: rotate(135deg);
   }
 
   #nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
   }

   /*section engenharia*/

   .section-engenharia h3{
    width: 90%;
   }

   

   
}


 @media (max-width: 1345px) {
    .section-engenharia h2 {
        font-size: 60px;
        font-weight: 600;
        width: 90%;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }

    /*solucoes*/

    .section-solucoes{
        flex-direction: column;
        padding-top: 100px;
        width: 85%;
        margin: 0 auto;
    }

    .imagem-solucoes{
        display: none;
    }
    .imagem-solucao-mobile{
        display: block;
        
    }

    .image-solucoes {
        margin-bottom: 0px;
        padding-bottom: 15%;
        padding-top: 6%;
    }

    .image-solucoes img {
        width: 100%;
        margin-left: 0px;
    }

    .div-texto-solucoes{
        margin-left: 0px;
    }

    
}

/*linha do fecan*/




 @media (max-width: 808px) {
    .section-engenharia h3 {
        font-size: 16px;
    }
    .section-engenharia h1 {
        font-size: 14px;
        
    }

    .titulo-quebra{
        margin-bottom: 40px;

    }
    
    .section-engenharia h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .div-texto-somos h1 {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .div-texto-somos h2 {
        font-size: 32px;
    }
    .div-texto-somos p {
        font-size: 16px;
        width: 100%;
    }
    
    .div-texto-somos{
        margin-left: 0px;
    }
    .div-texto-somos {
        margin-top: 30px;
        padding: 30px;
        border-radius: 0;
        margin-left: 0px;
    }
    .section-quem-somos {
        background-color: transparent;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 85%;
        margin: 0 auto;
    }
    .titulo-servicos h1 {
        font-size: 14px;
        line-height: 25px
        

    }
    .titulo-servicos h2{
        font-size: 32px;
        
    }

    /*solucoes*/
    .div-texto-solucoes h1{
        font-size: 14px;
        margin-bottom: 30px;
    }

    .div-texto-solucoes h2{
        font-size: 32px;
    }

    .div-texto-solucoes p {
        font-size: 16px;
        width: 100%;
    }


    .linha2{
        width: 100px;
        margin-right: 20px;
    }

    .text-content {
        padding: 0px 10px 10px 0px;
    }
    .content-quem-somos {
        width: 100%;
    }
    .content-servicos {
        text-align: center;
        padding-top: 100px;
        width: 75%;
        margin: 0 auto;
    }

    /*civil*/
    .div-texto-civil h1{
        font-size: 14px;

    }

    .div-texto-civil h2{
        font-size: 32px;

    }

    .div-texto-civil p{
        font-size: 16px;
        width: 100%;

    }
    

    .icon-solucoes {
        width: 40px;
    }

    /*gesso*/

    .div-texto-gesso h1{
        font-size: 14px;

    }

    .div-texto-gesso h2{
        font-size: 32px;

    }

    .div-texto-gesso p{
        font-size: 16px;
        width: 100%;

    }
    

    .icon-solucoes {
        width: 40px;
    }

    #titulo-maior{
        font-size: 25px;
    }
 }

 @media (max-width: 650px) {
    #titulo-maior{
        font-size: 14px;
    }

 }

@media (max-width: 370px) {
    .linha {
        width: 50px;
        margin-bottom: 20px;

    }
    .section-engenharia h1 {
        
        margin-bottom: 20px;
    }

    .section-solucoes{
        padding-top: 70px;
    }
}

@media (max-width: 518px) {
    #titulo-maior{
        letter-spacing: 10px;
    }


}

@media (max-width: 440px) {

    .titulo h2{
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 10px;
    }


}

/*cards*/

@media (max-width: 1120px) {
    .cards-servicos {
    grid-template-columns: auto auto auto;

    }

    /*servicos e carrocel*/

    .section-civil{
        flex-direction: column-reverse;
        padding-top: 70px;
    }
    .section-gesso{
        flex-direction: column-reverse;
        
    }

    .div-texto-civil{
        width: 85%;
        padding-bottom: 70px;
       }

    .div-texto-gesso{
        width: 85%;
        padding-bottom: 70px;
        padding-top: 70px;
       }

    .carousel-inner {
        display: none;
    }

    /*footer*/

    .footer-content{
        width: 100%;
    }

    .footer-geral{
        display: grid;
        gap: 10px;
        width: 85%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    
        
    }
    .footer-assinatura{
        background-color: #2d5fca;
        color: white;
        display: grid;
        padding-top: 13px;
        
      }
    .footer-content img {
        width: 130px;


      }
      .icons-footer img {
        width: 25px;
      }

      .footer-content p {
        font-size: 8px;
    }

    .footer-content h2 {
        font-size: 12px;
    }

    .assinatura-content {
        display: grid;
        font-size: 10px
    
    }

      .footer-content h3 {
        font-size: 10px;
      }

     

      .assinatura-content{
        display: grid;
        font-size: 14px;
        
      }
    
    

}




@media (max-width: 840px) {
    .cards-servicos {
    grid-template-columns: auto auto;

    }

}

@media (max-width: 550px) {
    .cards-servicos {
    grid-template-columns: auto;

    }

    .titulo-quebra2{
        flex-direction: column-reverse;
        
        line-height: 25px;
        

    }

    .linha2{
        margin-top: 10px;
    }
    .content-servicos {
       
        padding-top: 70px;

    }    

    .titulo-servicos h2 {
        padding-top: 20px;
    }
}


@media (max-width: 1400px) {
    .content-quem-somos {
        flex-direction: column;

}
  .div-image img{
    display: none;
  }
   
 }

 @media (max-width: 650px) {
    #titulo-maior{
        font-size: 10px;
        line-height: 25px;
    }

 }





    



    
    
 

